@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-image: url("/assets/Purple-Yoga-Presentation.jpg");
}

.container {
  position: relative;
  margin: auto;
  width: 300px;
  height: 400px;
  background: #ffffff;
  opacity: 0.55;
  border-radius: 34px;
}

.ic {
  position: relative;
  align-items: center;
  justify-content: center;
  left: 105px;
  top: -50px;
  width: 90px;
  height: 90px;
}

.head {
  position: relative;
  font-weight: bold;
  font-size: 26px;
  top: -40px;
  /* justify-content: center;
  align-items: center; */
  text-align: center;
  color: black;
  text-transform: uppercase;
}

.user input {
  position: relative;
  margin-top: 10px;
  width: 200px;
  height: 40px;
  left: 50px;
  top: -15px;
  background: #ffffff;
  /* opacity: 0.7; */
  border-radius: 15px;
}

#submit {
  position: absolute;
  width: 66px;
  height: 28px;
  left: 75px;
  top: 255px;
  background: #6021e7;
  /* opacity: 0.7; */
  border-radius: 25px;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

#delete {
  position: absolute;
  width: 66px;
  height: 28px;
  left: 50%;
  top: 255px;
  background: #6021e7;
  color: white;
  /* opacity: 0.7; */
  border-radius: 25px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.pass-link a {
    position: absolute;
    left: 150px;
   font-size: 14px;
    top: 215px;
}